@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&display=swap');

@font-face {
  font-family: 'VarentGrotesk';
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: url(varentgrotesk-bold.woff2) format('woff2');
  /* unicode-range: U+1F00-1FFF; */
}

html,
body {
  min-width: 100%;
  /* min-height: 100%; */
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 600;
  background-color: white;
}

main h1 {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

main h2 {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 3rem 0 1rem;
}

.highlight {
  @apply bg-black rounded-l-full rounded-r-full px-4 py-1;
}

.homepage-block {
  @apply w-full py-12 sm:py-28 mt-4 px-2 text-center flex flex-col items-center;
}

.usecase-bt {
  @apply inline-block px-5 py-2 rounded-l-full rounded-r-full mb-2;
}

.font-alt {
  font-family: 'VarentGrotesk', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pro .homepage,
.editor .homepage,
.editor footer {
  display: none;
}

.homepage .homepage-content {
  max-width: 760px;
}

.pricing {
  min-width: 52em;
}
.price {
  font-size: 12rem;
  position: relative;
  text-align: center;
}
.price::before {
  content: '$';
  font-size: 0.3em;
  position: absolute;
  left: -0.8em;
  top: -0.5em;
}

.price > span {
  font-size: 0.08em;
  font-family: 'Inter', Hevetica, Arial, sans-serif;
  position: absolute;
  right: -4em;
  top: -0.3em;
}

@media screen and (max-width: 640px) {
  .price {
    font-size: 4rem;
  }
  .price > span {
    font-size: 0.2em;
    position: relative;
    left: -1em;
    /* position: absolute;
    top: 5em; */
  }
  .price::before {
    content: '$';
    font-size: 0.3em;
    position: relative;
  }

  .pricing {
    min-width: 100%;
  }

  .pricing ul {
    font-size: 0.8em;
  }
}

/* .alt-block {
  width: 100%;
  padding: 5rem;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;
} */

footer {
  /* text-align: center;
  padding: 2rem 0;
  margin-top: 4rem;
  background-color: #fafafa; */
  border-top: 1px solid #eaeaea;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  background: black;
  border-radius: 50%;
}

.app *:not(input):not(textarea):not(.selection-text) {
  user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

/** Tooltips **/

.tooltip {
  @apply transition-all opacity-0 absolute;
  transform: translate(calc(24px - 50%), -140px);
}

.has-tooltip:hover .tooltip {
  @apply delay-500 opacity-100 z-50;
  transform: translate(calc(24px - 50%), -100px);
}

@supports (-webkit-touch-callout: none) {
  .full-visible-h-safari {
    height: calc(100% - 80px); /* -webkit-fill-available;*/
  }
}

@keyframes wait {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
